{% extends "base.html" %}

{% block title %}
	UrsChhotu | At your door step
{% endblock %}
{% block content %}
<nav id="startPoint" class="navbar navbar-fixed-top navbar-custom" data-spy="affix" data-offset-top="197">
	<a href="/" class="navbar-brand"><img src="{% static 'images/chotu-logo3.png' %}" alt="logo"></a>
</nav>
<div class="container">
	<div class="featurette-divider">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12 mb-20">
						<h2>Delivery Address</h2>
					</div>
					<div class="row">
						<div class="col-sm-12" id="id_userAddress"></div>
					</div>
					<div class="row" style="padding: 40px 0;">
						<h4 style="padding: 15px 30px;">Add New Address</h4>
						<form class="col-sm-6" id="id_addNewAddress">
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">Address: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<textarea name="address" class="form-control" placeholder="Enter Address"></textarea>
								</div>
							</div>
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">Landmark: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="landmark" class="form-control" placeholder="Enter landmark if any">
								</div>
							</div>
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">City: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="city" class="form-control" placeholder="Enter City" value="Gurgaon">
								</div>
							</div>
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">State: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="state" class="form-control" placeholder="Enter State" value="Haryana">
								</div>
							</div>
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">Zipcode: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="zipcode" class="form-control" placeholder="Enter zipcode" value="122001">
								</div>
							</div>							
							<div class="form-group" style="display: flex;padding-right: 15px;">
								<input type="submit" class="btn btn-primary" style="    width: 100%;margin-left: 29%;" value="Submit new address"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="updateAddressModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Address</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<form id="id_updateAddress" data-address="">
									<div class="form-group" style="display: flex;">
										<label class="col-sm-3 control-label">Address: <span class="mandatory">*</span></label>
										<div class="col-sm-9">
											<textarea name="address" class="form-control" placeholder="Enter Address"></textarea>
										</div>
									</div>
									<div class="form-group" style="display: flex;">
										<label class="col-sm-3 control-label">Landmark: <span class="mandatory">*</span></label>
										<div class="col-sm-9">
											<input type="text" name="landmark" class="form-control" placeholder="Enter landmark if any">
										</div>
									</div>
									<div class="form-group" style="display: flex;">
										<label class="col-sm-3 control-label">City: <span class="mandatory">*</span></label>
										<div class="col-sm-9">
											<input type="text" name="city" class="form-control" placeholder="Enter City" value="Gurgaon">
										</div>
									</div>
									<div class="form-group" style="display: flex;">
										<label class="col-sm-3 control-label">State: <span class="mandatory">*</span></label>
										<div class="col-sm-9">
											<input type="text" name="state" class="form-control" placeholder="Enter State" value="Haryana">
										</div>
									</div>
									<div class="form-group" style="display: flex;">
										<label class="col-sm-3 control-label">Zipcode: <span class="mandatory">*</span></label>
										<div class="col-sm-9">
											<input type="text" name="zipcode" class="form-control" placeholder="Enter zipcode" value="122001">
										</div>
									</div>							
									<div class="form-group" style="display: flex;padding-right: 15px;">
										<input type="submit" class="btn btn-primary" style="width: 100%;margin-left: 29%;" value="Update address"/>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block extrascript %}
<script src="{% static 'js/chhotu/address.js' %}"></script>
{% endblock %}