{% extends "base.html" %}

{% block title %}
	UrsChhotu | At your door step
{% endblock %}

{% block content %}

		<nav id="startPoint" class="navbar navbar-fixed-top navbar-custom" data-spy="affix" data-offset-top="197">
			<a href="/" class="navbar-brand"><img src="{% static 'images/chotu-logo3.png' %}" alt="logo"></a>
		</nav>

		<div class="container">
			<div class="featurette-divider">
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-12 mb-20">
							<h2>Your Shopping Cart</h2>
						</div>
						<div class="row" id="id_productItem">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12 mb-20">
							<h2>Price Details</h2>
						</div>
						<div class="col-sm-12">
							<div class="card card-block">
								<h5 class="card-title">Cart Total <span class="pull-right">Rs. <span id="id_cartTotal"></span></span></h5>
								<h5 class="card-title"><div class="input-group">
									<input type="text" id="id_discount_input" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
									<span class="input-group-addon" id="id_apply_discount" style="cursor: pointer;">Apply</span>
									</div>
								</h5>
								<p id="id_discount_error" style="color: #B22222;"></p>
								<hr />
								<h4 class="card-title">Order Total <span class="pull-right">Rs. <span id="id_orderTotal"></span></span></h4>
								<button class="btn btn-primary btn-block mb-20 mt-25" id="id_placeOrder">Place Order</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block extrascript %}
<script src="{% static 'js/chhotu/cart.js' %}"></script>
{% endblock %}
