{% extends "base.html" %}

{% block title %}
	UrsChhotu | At your door step
{% endblock %}
{% block content %}
<nav id="startPoint" class="navbar navbar-fixed-top navbar-custom" data-spy="affix" data-offset-top="197">
	<a href="/" class="navbar-brand"><img src="{% static 'images/chotu-logo3.png' %}" alt="logo"></a>
</nav>
<div class="container">
	<div class="featurette-divider">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12 mb-20">
						<h2>Payment</h2>
					</div>
					<div class="row">
						<div class="col-sm-12" id="id_userAddress"></div>
					</div>
					<div class="row" style="padding: 40px 0;">
						<h4 style="padding: 15px 30px;">Add New Address</h4>
						<div class="col-sm-6">
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">Address: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<textarea name="address" class="form-control" placeholder="Enter Address"></textarea>
								</div>
							</div>
							<div class="form-group" style="display: flex;">
								<label class="col-sm-3 control-label">Landmark: <span class="mandatory">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="landmark" class="form-control" placeholder="Enter landmark if any">
								</div>
							</div>
							<div class="form-group" style="display: flex;padding-right: 15px;">
								<button type="submit" class="btn btn-primary" style="    width: 100%;margin-left: 29%;">Submit new address</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block extrascript %}
<script src="{% static 'js/chhotu/payment.js' %}"></script>
{% endblock %}