{% extends 'base.html' %}
{% load static %}
{% block title %}
	Product Page
{% endblock %}
{% block content %}
<section class="container" style="width: 100%;max-width: 1289px;height:100%;padding-top: 85px;">
	<div class="row">
		<div class="col-sm-12" style="padding: 10px 0 10px 0;">
			<h2 style="text-align: center;" id="id_product_name"></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<ul class="list-group" id="id_product_categories"></ul>
			</div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-12" id="id_product_list">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block extrascript %}
<script src="{% static 'js/chhotu/product.js' %}"></script>
{% endblock %}