{% load static %}
<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>ursChottu - At your doorstep</title>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom styles for this template  -->
		<!-- <link href="css/carousel.css" rel="stylesheet"> -->
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
     	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
     	<script src="{% static 'js/jquery.min.js' %}"></script>
    	<script src="{% static 'js/tether.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block extracss %}
			
	{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
	{% block header %}
		{% if request.path == '/' or request.path == '/product/' %}
			{% include 'header.html' %}
		{% endif %}
	{% endblock %}

    {% block content %}{% endblock %}


    {% block footer %}
    	{% if request.path == '/' %}
    		{% include 'footer.html' %}
    	{% endif %}
    {% endblock %}

    {% block scripts %}
		<script src="{% static 'js/main.js' %}"></script>
		<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
		<!-- <script src="js/vendor/holder.min.js"></script> -->

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
		{% block extrascript %}

		{% endblock %}
    {% endblock %}
</body>
</html>
