{% load static %}
<header>
    <nav class="navbar navbar-fixed-top navbar-custom" data-spy="affix" data-offset-top="197" style="background-color: rgba(1, 69, 142, 0.8)">
        <a href="/" class="navbar-brand"><img src="{% static 'chotu-logo3.png' %}" alt="logo"></a>
        <ul class="nav navbar-nav pull-md-right">
            <li class="nav-item">
                {% if request.user.is_anonymous %}
                    <a class="nav-link btn btn-default-outline" href="/login/"><i class="fa fa-sign-in"></i> Login</a>
                {% else %}
                    <button class="nav-link btn btn-default-outline" id="logout-view"><i class="fa fa-sign-out"></i> Logout</button>
                {% endif %}
            </li>
            <li class="nav-item">
                <span class="badge custom-badge" id="orderItemBadge">0</span>
                <a class="nav-link btn btn-default-outline" id="id_cart_btn" href="/cart/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><i class="fa fa-shopping-cart"></i> Cart</a>
            </li>
        </ul>
    </nav>
</header>