{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<section class="container" style="background-color: #fff;width: 100%;max-width: 1289px;height:100%;">
	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<a href="/"><i class="fa fa-arrow-left" style="font-size:1.4em;"></i> Back To Home</a>
			</div>
			<div class="col-sm-offset-3 col-sm-7" style="padding-left: 28px;">
				<img src="{% static 'images/chotu-logo3.png' %}" class="img-responsive" width="150px">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 style="text-align: center;">Contact Us</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="padding: 2% 12%;text-align: justify;">
			<h3>ursChottu</h3>
			<p><span class="glyphicon glyphicon-envelope"></span>order@urschottu.com</p>
			<p><span class="glyphicon glyphicon-earphone"></span>+91-8376043193, 8222908449</p>
			<p>123, 2nd Floor, Block-U ,Phase-3, DLF, Gurgaon</p>
		</div>
	</div>
</section>
{% endblock %}