{% extends "base.html" %}
{% load static %}
{% block title %}
	UrsChhotu | At your door step
{% endblock %}

{% block content %}
		<!-- Carousel
		================================================== -->
		<div class="container-fluid bg-image" style="height:600px;margin-bottom:50px;">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3" style="margin-top:13%">
					<div class="text-sm-center dark-overlay" style="color:#fff; padding:25px 10px">
						<h1>Delivering Yummyzz<br/><span style="font-size: 2rem;">for</span><br/>Your Tummyzz </h1>
						<p>Realising the business potential of delivering to a city awake all night, Urschottu now also delivers chips, coke, coffee and even loose and packed ziggis.</p>
						<p><button class="btn btn-lg btn-warning" id="order_now_btn">Order Now!</button></p>
						<h5>Minimum Order >= 99</h5>
					</div>
				</div>
			</div>
		</div>
		<!-- /.carousel -->


		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->
		

		<div id="startPoint" class="container">
			<div class="row featurette">
				<div class="col-md-12">
					<h2 class="text-md-center">Snacks & Prathas!</h2>
					<p class="lead text-md-center mb-40">Tasty delicious</p>
				</div>
			</div>

			<!-- Three columns of text below the carousel -->
			<section class="stack-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12" id="id_product_category"></div>
					</div>
				</div>
			</section>

			<!-- START THE FEATURETTES -->
			<hr class="featurette-divider">
		</div>
			
		<div>
			<div id="myCarousel2" class="carousel slide primary-bg" data-ride="carousel">
				<h2 style="color:#fff;padding-top:50px;text-align:center;" class="text-center">Customers Loves Us</h2>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active testimonial active">
						<div class="container">
							<div class="carousel-caption text-center">
								<img src="{% static 'images/1.jpg' %}" class="img-circle" height="65" width="65"alt="Generic placeholder image">
								<h3>Sumit Singh</h3>
								<p>"Thank you urs chottu, u guys r awesome, veg burger nd cold coffee was awesome"</p>
							</div>
						</div>
					</div>
					<div class="carousel-item testimonial">
						<div class="container">
							<div class="carousel-caption text-center">
								<img src="{% static 'images/2.jpg' %}" class="img-circle" height="65" width="65"alt="Generic placeholder image">
								<h3>Rakshit Bhardwaj</h3>
								<p>"Awesome people... and excellent service.... and life savers.... LOVE U GUYS KEEP UP THIS AWESOMENESS....!!!"</p>
							</div>
						</div>
					</div>
					<div class="carousel-item testimonial">
						<div class="container">
							<div class="carousel-caption text-center">
								<img src="{% static 'images/3.jpg' %}" class="img-circle" height="65" width="65"alt="Generic placeholder image">
								<h3>Ishan Bajpai</h3>
								<p>"U Guys Rock!!! keep up the good work also keep delivering Ziggi :p"</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Indicators -->
				<ol class="carousel-indicators" style="top: 19.5rem !important;">
					<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel2" data-slide-to="1"></li>
					<li data-target="#myCarousel2" data-slide-to="2"></li>
				</ol>

				<a class="left carousel-control top-50" href="#myCarousel2" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control top-50" href="#myCarousel2" role="button" data-slide="next">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

			<!-- /END THE FEATURETTES -->
		<div class="container">
			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-12">
					<h2 class="text-md-center">Get your food within</h2>
				</div>
			<div class="col-md-2 col-md-offset-5" style="padding-top: 35px;padding-bottom: 35px;">
		    <div class="card card-inverse card-info text-xs-center">
	       <div class="card-block">
		        <blockquote class="card-blockquote">
			       <h2>49 minutes</h2>
		        </blockquote>
  		    </div>
  	    </div>
			</div>
      <div class="col-md-12">
          <h2 class="text-md-center">at your doorsteps!</h2>
        </div>
			</div>
			<hr class="featurette-divider">
		</div>

			<!-- FOOTER -->
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/chhotu/index.js' %}"></script>
{% endblock %}