{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<section class="container" style="background-color: #fff;width: 100%;max-width: 1289px;height:100%;">
	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<a href="/"><i class="fa fa-arrow-left" style="font-size:1.4em;"></i> Back To Home</a>
			</div>
			<div class="col-sm-offset-3 col-sm-7" style="padding-left: 28px;">
				<img src="{% static 'images/chotu-logo3.png' %}" class="img-responsive" width="150px">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 style="text-align: center;">Refund and Cancellation Policy</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="padding: 2% 12%;text-align: justify;">
			<p>After placing the order customer can cancel the order within 15mins if he/she wish to. And in case of customer request for Refund, it will be processed through same mode within 10 working days. Being a food item we do not entertain Return.</p></br>
			<h5>Delivery/Shipping Policy:</h5>
			<p>We try to deliver the food within 3 hours after receiving the order.</p>
		</div>
	</div>
</section>
{% endblock %}