{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<section class="container" style="background-color: #fff;width: 100%;max-width: 1289px;height:100%;">
	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<a href="/"><i class="fa fa-arrow-left" style="font-size:1.4em;"></i> Back To Home</a>
			</div>
			<div class="col-sm-offset-3 col-sm-7" style="padding-left: 18px;">
				<img src="{% static 'images/chotu-logo3.png' %}" class="img-responsive" width="150px">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 style="text-align: center;">Terms of Use</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="padding: 2% 12%;text-align: justify;">
			<p>www.urschottu.com is owned and operated by UC NUTRIMENT PRIVATE LIMITED, a company incorporated under the laws of India. Your use of the Website and services and tools are governed by the following terms and conditions ("Terms of Use") as applicable to the Website including the applicable policies which are incorporated herein by way of reference. If you transact on the Website, You shall be subject to the policies that are applicable to the Website for such transaction.</p></br>
			<p>By mere use of the Website, You shall be contracting with UC NUTRIMENT PRIVATE LIMITED and these terms and conditions including the policies constitute your binding obligations, with UC NUTRIMENT PRIVATE LIMITED. For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on the Website by providing Registration Data while registering on the Website as Registered User using the computer systems.</p></br><p>www.urschottu.com allows the User to surf the Website or making purchases without registering on the Website. The term "We", "Us", "Our" shall mean UC NUTRIMENT PRIVATE LIMITED When You use any of the services provided by Us through the Website, including but not limited to, (e.g. Product Reviews, Seller Reviews), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to you. It is your responsibility to review these Terms of Use periodically for updates / changes. Your continued use of the Website following the posting of changes will mean that you accept and agree to the revisions. As long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Website.</p>
		</div>
	</div>
</section>
{% endblock %}