{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<nav id="startPoint" class="navbar navbar-fixed-top navbar-custom" data-spy="affix" data-offset-top="197">
	<a href="/" class="navbar-brand"><img src="{% static 'images/chotu-logo3.png' %}" alt="logo"></a>
</nav>

<div class="container">
	<div class="featurette-divider">
		<div class="row">
			<div class="col-sm-12 mb-20">
				<h2>Review Order and Payment</h2>
			</div>
			<div class="col-sm-8">
				{% for item in orders %}
				<div class="row" id="id_productItem">
					<div class="col-sm-12">
						<div class="card card-block">
							<div class="media">
								<a class="media-left" href="#">
									<img class="media-object" src="/media/{{item.product.category.image}}" alt="Generic placeholder image" style="width: 100px; height: 100px;">
								</a>
								<div class="media-body">
									<h5 class="media-heading font-weight-bold display-inline">{{item.product.name}}</h5>
									<h5 class="pull-right font-weight-bold">Price Rs. {{item.product.price}}</h5>
									<p>Quantity: <span id="id_productQuantity">{{item.quantity}}</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor%}
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block">
							<h5 style="color: green;">Delivery Detail</h5>
							<p style="margin: 0;">{{order.user.name}}</p>
							<p style="margin: 0;">{{order.useraddress.address}}, {{order.useraddress.landmark}}</p>
							<p style="margin: 0;">{{order.useraddress.city}}, {{order.useraddress.state}}, {{order.useraddress.country}}</p>
							<p>{{order.useraddress.zipcode}}</p>
							<p style="margin: 0;">{{order.user.contact_no}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block">
							<h5 style="color: green;">Price Details</h5>
							<p  style="margin: 0;"><span>Order Total</span><span class="pull-right">Rs. {{order_amount.amount}}</p>
							<p style="margin: 0;"><span>Discount</span><span class="pull-right">Rs. {% if order_amount.discount_coupon.amount %}{{order_amount.discount_coupon.amount}}{% else %}0{% endif %}</span></p>
							<p style="margin: 0;"><span>Payable Amount</span><span class="pull-right"> Rs. {{order_amount.payable_amount}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block">
							<h5 style="color: green;">Payment Mode</h5>
							<div class="row">
								<div class="col-sm-12" style="padding: 30px 0 30px 20px;">
									<input type="radio" name="payment_mode" id="payment_mode_1" value="submit"><span style="padding: 0 50px 0 5px;"><strong>Pay Now</strong></span>
									<input type="radio" name="payment_mode" id="payment_mode_2" value="button"><span style="padding: 0 5px;"><strong>Cash On Delivery</strong></span>
								</div>
								<form class="col-sm-12" action="{{payment_url}}" method="post" id="id_addNewAddress" enctype="multipart/form-data" style="margin: 0;">{% csrf_token %}
									<input type="hidden" name="key" id="key" class="form-control" value="{{merchant_key}}">
									<input type="hidden" name="txnid" id="txnid" class="form-control" value="{{order.uuid}}">
									<input type="hidden" name="amount" id="amount" class="form-control" value="{{order_amount.payable_amount}}">
									<input type="hidden" name="productinfo" id="productinfo" class="form-control" value="{{order.uuid}}">
									<input type="hidden" name="firstname" id="firstname" class="form-control" value="{{order.user.name}}">
									<input type="hidden" name="email" id="email" class="form-control" value="{{order.user.email}}">
									<input type="hidden" name="phone" id="phone" class="form-control" value="{{order.user.contact_no}}">
									<input type="hidden" name="lastname" id="lastname" class="form-control" value="">
									<input type="hidden" name="surl" id="surl" class="form-control" value="{{domain}}/order-complete/">
									<input type="hidden" name="furl" id="furl" class="form-control" value="{{domain}}/order-complete/">
									<input type="hidden" name="curl" id="curl" class="form-control" value="{{domain}}/order-complete/">
									<input type="hidden" name="hash" id="hash" class="form-control" value="{{hash}}">
									<input type="submit" id="id_payNow" class="btn btn-primary btn-block mb-20 mt-25" value="Place Order"/>
									</div>
								</form>
								<button id="id_placeOrder" class="btn btn-primary btn-block mb-20 mt-25 displayNone">Place Order</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="/static/js/chhotu/payment.js"></script>
{% endblock %}