{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<section class="container" style="background-color: #fff;width:1300px;max-width:1357px;">
	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<a href="/"><i class="fa fa-arrow-left" style="font-size:1.4em;"></i> Back To Home</a>
			</div>
			<div class="col-sm-offset-3 col-sm-7">
				<img src="{% static 'images/chotu-logo3.png' %}" class="img-responsive" width="150px">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" id="register_form">
				<h3 class="text-left" style="margin-top: 10px;margin-bottom:5px;">Create Account</h3>
				<div class="form-group">
					<label class="control-label">Your Name</label>
					<input type="text" class="form-control" name="name" placeholder="Your Name" id="id_name" required>
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<input type="text" class="form-control" name="email" placeholder="Your Email" id="id_email" required>
				</div>
				<div class="form-group">
					<label class="control-label">Mobile</label>
					<input type="text" class="form-control" name="contact_no" placeholder="Your Mobile" id="id_mobile" required>
				</div>
				<div class="form-group">
					<label class="control-label">Password</label>
					<input type="password" class="form-control" name="password" placeholder="Password" id="id_password" required>
				</div>
				<div class="form-group text-center">
					<input type="submit" id="register_submit" class="btn btn-info full-width" value="Create Your Account">
				</div>
				<p class="tiny">By creating an account, you agree to chhotu.com's <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice.</a></p>
				<div class="a-devider"></div>
				<p class="tiny no-margin">Already have an account? <a href="/login/">Sign in</a></p>
			</form>
		</div>
	</div>
	<div class="a-devider"></div>
	<div class="row centered">
		<div class="col-sm-12">
			<p class="tiny">
				<a href="#" class="pdlr-20">Help</a>
				<a href="#" class="pdlr-20">Conditions of Use</a>
				<a href="#" class="pdlr-20">Privacy Notice</a>
			</p>
			<p class="tiny">© 1996-2016, StuffonRent.com, Inc. or its affiliates</p>
		</div>
	</div>
</section>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{% static 'js/chhotu/register.js' %}"></script>
{% endblock %}