{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAN</title>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900,300italic,400italic);
   </style>
</head>

<body style="color: #524c4c; font-size: 14px; font-family: 'Roboto', sans-serif; margin: 0; padding: 2px 0 0; font-weight: normal; letter-spacing: 0.021em;">
    <div style="padding: 0px 0px; border-radius: 1px; width: 99%; max-width: 685px; margin: 0 auto; border: 1px solid #dfdfdf;">
	    <div style="padding: 6px 20px;border-bottom:1px solid #dfdfdf;">
            <a href="http://www.urschottu.com/" style="width: 50%; display: inline-block"><img src="http://d1arpwnp9w3ly0.cloudfront.net/images/chotu-logo3.png" alt="" title="" width="150"></a>
		</div>
		<!--/header-->
		
        <div class="body" style="padding: 25px 20px">
		    <p>Dear {{user.name}},</p>
		    <p>Your following order with urschottu have been confirmed:</p></br>
		    {% for item in orders %}
		    <p><strong>{{item.quantity}}  {{item.product.name}}</strong></p>
		    {% endfor %}
		    </br>
		    <div style="word-wrap: break-word">Thank you,<br /><br />– ursChottu<br /><a href="http://www.urschottu.com/">http://www.urschottu.com/</a></div>
			<br /><br />
			<br /><br />
		</div>
		<!--/body-->
        <div style="padding: 4px 20px; color: #636363; font-size: 11px; border-top: 1px solid #dfdfdf; text-align: center">
		    <div style="line-height: 2em;">Delivering Yummyzz for Your Tummyzz</div>
			
		</div>
		<!--/footer-->
    </div>
    <!--/container-->
</body>
</html>