{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
<section class="container" style="width: 100%;max-width: 1289px;height:100%;">
	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<a href="/"><i class="fa fa-arrow-left" style="font-size:1.4em;"></i> Back To Home</a>
			</div>
			<div class="col-sm-offset-3 col-sm-7" style="padding-left: 28px;">
				<img src="{% static 'images/chotu-logo3.png' %}" class="img-responsive" width="150px">
			</div>
		</div>
	</div>

	<div class="row pd-20">
		<div class="col-sm-12">
			<div class="col-sm-3"><button class="btn btn-primary full-width orderStatusBtn" data-status-attr="Confirmed">Confirmed</button></div>
			<div class="col-sm-3"><button class="btn btn-primary full-width orderStatusBtn" data-status-attr="Inprogress">InProgress</button></div>
			<div class="col-sm-3"><button class="btn btn-primary full-width orderStatusBtn" data-status-attr="Delivered">Delivered</button></div>
			<div class="col-sm-3"><button class="btn btn-primary full-width orderStatusBtn" data-status-attr="Cancelled">Cancelled</button></div>
		</div>
	</div>
	<h2 style="text-align: center;" id="id_selected_status"></h2>
	<div class="row pd-20">
		<div class="col-sm-12" id="id_orders">
			<table class="table">
				<thead>
					<tr>
						<th>Personal Detail</th>
						<th>Address</th>
						<th>Orders</th>
						<th>Update Order Status</th>
					</tr>
				</thead>
				<tbody id="id_orders_list"></tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{% static 'js/chhotu/admin.js' %}"></script>
{% endblock %}